@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-primary: #254baa;
  --color-background: #f2f6ff;
  --color-accent: #262662;
  --destructive: 0, 100%, 50%; /* Example HSL values for red */
  --destructive-foreground: 0, 0%, 100%; /* White for text */
}
